<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">{{message}}
  <!--遍历数组-->
  <!--1.在遍历的过程中没有使用索引值-->
   <ul>
     <li v-for="item in names">{{item}}</li>
   </ul>
  <!--2.在遍历的过程中，获取索引值-->
  <ul>
    <li v-for="(item,index) in names">{{index+1}}-{{item}}</li>
  </ul>
   <!--遍历对象-->
  <!--1.在遍历对象的过程中，如果只是获取一个值，那么这个值就是value-->
  <ul>
    <li v-for="item in info">{{item}}</li>
  </ul>
  <!--2.获取key和value,格式:(value,key)-->
  <ul>
    <li v-for="(value,key) in info">{{value}}-{{key}}</li>
  </ul>
  <!--3.获取key和value,index,格式:(value,key,index)-->
</div>
<script src="../vue.js"></script>
<script>
  const app = new Vue({
    el:'#app',
    data:{
      message:'hello',
      names:['why','kobe','curry','jake'],
      info:{
        name:'gmx',
        age:18,
        height:1.88
      }
    }
  })
</script>
</body>
</html>