<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <div v-if="books.length">
    <table border="1" cellpadding="10" cellspacing="0">
      <tr>
        <th></th>
        <th>书籍名称</th>
        <th>出版日期</th>
        <th>价格</th>
        <th>购买数量</th>
        <th>操作</th>
      </tr>
      <tr v-for="(item,index) in books">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.date}}</td>
        <!--<td>{{getFinalPrice(item.price)}}</td>-->
        <td>{{item.price | showPrice}}</td>
        <td>
          <button @click="reduceNum(index)" :disabled="item.num <= 1">-</button>
          {{item.num}}
          <button @click="addNum(index)">+</button>
        </td>
        <td>
          <button @click="removeBook(index)">移除</button>
        </td>
      </tr>
    </table>
    <!--<h3>总价：{{getFinalPrice(sumPrice)}}</h3>-->
    <h3>总价：{{sumPrice | showPrice}}</h3>
  </div>
  <div v-else>
    <h2>购物车为空</h2>
  </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
<script>
  const app = new Vue({
    el:'#app',
    data:{
      books:[
        {id:1,name:'《算法导论》',date:'2006-9',price:85.00,num:1},
        {id:2,name:'《UNIX编程艺术》',date:'2006-2',price:55.00,num:1},
        {id:3,name:'《编程珠玑》',date:'2008-10',price:75.00,num:1},
        {id:4,name:'《代码大全》',date:'2006-3',price:80.00,num:1},
      ],
    },
    mounted(){
      // let nums = [10,20,111,222,450,40,50];
      // let total = nums.filter( n => n<100)
      //     .map( n => n*2).reduce((tmp,item,index) => {
      //       return tmp+item;
      //     });
      // console.log(total);
    },
    computed:{
      //计算总价
      sumPrice(){
        // let total = 0;
        // 1、普通的for循环
        // for(let i =0;i<this.books.length;i++){
        //   total += this.books[i].price*this.books[i].num;
        // }
        // return total;
        //   2、for(let i in this.books)
        //   for(let i in this.books){
        //     total += this.books[i].price*this.books[i].num;
        //   }
        // return total;
        // 3、for(let item of this.books)
        //  for(let item of this.books){
        //    total += item.price*item.num;
        //  }
        //  return total;
        // 4、reduce
        //     let result = this.books.map( item => item.price*item.num)
        //     .reduce((tmp,item,index) => tmp+item);;
        //     return result;
        // 5、reduced
         return this.books.reduce((tmp,item) => {
           return tmp + item.price*item.num;
         },0)

      }
    },
    //过滤器
    filters:{
      //价格操作方法二：
      showPrice(price){
        return '￥'+price.toFixed(2);
      }
    },
    methods:{
      //移除书籍
      removeBook(index){
        this.books.splice(index,1);
      },
      //减少购买数量
      reduceNum(index){
        this.books[index].num--;
      },
      //增加购买数量
      addNum(index){
        this.books[index].num++;
      },
      //价格操作方法一：
      getFinalPrice(price){
        return '￥'+price.toFixed(2);
      }
    }
  })
</script>
</body>
</html>