<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <!--1.checkbox单选框-->
  <label for="agree">
    <input type="checkbox" id="agree" v-model="isAgree">同意协议
  </label>
  <button :disabled="!isAgree">下一步</button>
  <h2>您选择的是：{{isAgree}}</h2>

  <!--2.checkbox多选框-->
    <input type="checkbox" id="swimming" value="游泳" v-model="hobbies">游泳
    <input type="checkbox" id="draw" value="画画" v-model="hobbies">画画
    <input type="checkbox" id="singing" value="唱歌" v-model="hobbies">唱歌
    <input type="checkbox" id="dancing" value="跳舞" v-model="hobbies">跳舞
    <h2>您的爱好是：{{hobbies}}</h2>


  <!--动态值绑定-->
  <label v-for="item in originHobbies">
    <input type="checkbox"  :value="item" v-model="hobbies">{{item}}
  </label>
</div>
<script src="../vue.js"></script>
<script>
  const app = new Vue({
    el:'#app',
    data:{
      message:'hello',
      isAgree:false,//单选框
      hobbies:[],//多选框
      originHobbies:['篮球','足球','乒乓球','台球','高尔夫']
    }
  })
</script>
</body>
</html>